
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bầu Cua Tôm Cá</title>
</head>
<body>
	<div class="contai">
		<div class="entry-content">
			<p>
				<a href="./roofing/roofing/index.html">Xem Trang demo</a>
			</p>>
			<p style="text-align: justify;"><span style="color: #000000;"><span style="font-size: 16px;"><span style="font-family: arial,helvetica,sans-serif;">Bạn đang cần bảng chi tiết báo giá xây dựng nhà trọn gói tại TP.HCM? Bạn thắc mắc những hạng mục thi công trong suốt quá trình xây dựng bao gồm những gì? Bạn cần biết chính xác chinh phí xây nhà trọn gói là bao nhiêu, các thủ tục pháp lý được thực hiện ra sao? Hãy để <a href="https://dainam.org/"><strong>Đại Nam</strong></a> trả lời giúp bạn.</span></span></span></p>
			<h2 id="Uu_diem_khi_chon_thau_thiet_ke_thi_cong_nha_tron_goi_tai_TPHCM" style="text-align: justify;"><span style="color: #ff0000;"><span style="font-size: 20px;"><strong><span style="font-family: arial,helvetica,sans-serif;">ƯU ĐIỂM KHI CHỌN NHÀ THẦU THI CÔNG TRỌN GÓI</span></strong></span></span></h2>
			<p style="text-align: justify;"><span style="color: #000000;"><span style="font-size: 16px;"><span style="font-family: arial,helvetica,sans-serif;">Chọn thầu thiết kế thi công xây nhà trọn gói tại TP.HCM sẽ mang đến cho gia chủ những lợi ích sau:</span></span></span></p>
			<h3 id="Tiet_kiem_thoi_gian" style="text-align: justify;"><span style="color: #0000ff;"><strong><span style="font-size: 16px;"><span style="font-family: arial,helvetica,sans-serif;">TIẾT KIỆM THỜI GIAN</span></span></strong></span></h3>
			<p style="text-align: justify;"><span style="color: #000000;"><span style="font-size: 16px;"><span style="font-family: arial,helvetica,sans-serif;">Xây nhà trọn gói giúp gia chủ tiết kiệm rất nhiều thời gian bởi các công việc từ thiết kế, chọn vật tư xây dựng, khảo sát, thiết kế nội thất,… đều được thực hiện bởi đơn vị thi công.</span></span></span></p>
			<h3 id="Tiet_kiem_chi_phi" style="text-align: justify;"><span style="color: #0000ff;"><strong><span style="font-size: 16px;"><span style="font-family: arial,helvetica,sans-serif;">TIẾT KIỆM CHI PHÍ</span></span></strong></span></h3>
			<p style="text-align: justify;"><span style="color: #000000;"><span style="font-size: 16px;"><span style="font-family: arial,helvetica,sans-serif;">Nhiều n<span style="color: #000000;">gười cho rằng nếu chủ nhà tự mua vật tư thì sẽ rẻ hơn nhưng thực ra không phải. Chủ nhà cả đời chỉ xây 1 đến 2 căn nhà nên mua vật tư giá lẽ, nhà thầu 1 năm xây mấy chục căn nhà nên họ mua vật tư với giá sĩ. Nhà thầu quá</span> quen với các chiêu trò gian lận của 1 số đơn vị cấp vật tư không đàng hoàng, chủ nhà rất dễ bị các chiêu trò qua mặt. Vì thế thực tế giao trọn gói cho nhà thầu lại tiết kiệm chi phí hơn.</span></span></span></p>
			<h3 id="Dam_bao_tinh_minh_bach_trong_thi_cong" style="text-align: justify;"><span style="color: #0000ff;"><strong><span style="font-size: 16px;"><span style="font-family: arial,helvetica,sans-serif;">ĐẢM BẢO TÍNH MINH BẠCH TRONG THI CÔNG</span></span></strong></span></h3>
			<p style="text-align: justify;"><span style="color: #000000;"><span style="font-size: 16px;"><span style="font-family: arial,helvetica,sans-serif;">Với những nhà thầu thiết kế thi công xây dựng nhà trọn gói uy tín tại TP.HCM, tính minh bạch luôn được chú trọng và được thể hiện rỏ ràng từng chi tiết trong hợp đồng được ký giữa hai bên, giúp gia chủ an tâm hơn khi giao mọi công việc cho các đơn vị.</span></span></span></p>
			<h2><span style="font-size: 20px; color: #ff0000;"><strong>BẢNG BÁO GIÁ XÂY DỰNG NHÀ TRỌN GÓI MỚI NHẤT 2020</strong></span></h2>
			<p style="text-align: justify;"><strong><span style="color: #000000;"><span style="font-size: 16px;"><span style="font-family: arial,helvetica,sans-serif;">Bảng giá xây dựng nhà trọn gói 2020 bao gồm:</span></span></span></strong></p>
			<ul style="list-style-type: disc;">
			<li style="text-align: justify;">
			<h3><strong style="font-size: 20px;"><span style="color: #ff0000;">ĐƠN GIÁ THI CÔNG PHẦN THÔ + NHÂN CÔNG HOÀN THIỆN <span style="color: #000080;">(</span></span></strong><strong style="font-size: 20px;"><span style="color: #ff0000;"><a href="https://dainam.org/bao-gia-xay-dung-phan-tho"><span style="color: #000080;">Bạn vui lòng xem tại đây…)</span></a></span></strong></h3>
			</li>
			</ul>
			<ul>
			<li>
			<h3><span style="font-size: 20px;"><strong><span style="color: #ff0000;"><span style="font-family: arial,helvetica,sans-serif;">BÁO GIÁ XÂY DỰNG NHÀ TRỌN GÓI TẠI TPHCM</span></span></strong></span></h3>
			</li>
			</ul>
			<p style="text-align: justify;"><span style="color: #000000;"><span style="font-size: 16px;"><span style="font-family: arial,helvetica,sans-serif;">Thi công xây dựng nhà trọn gói có những hạng mục nào và giá xây dựng như thế nào? Mời Quý khách tham khảo đơn giá xây dựng nhà TPHCM cũng như một số hạng mục đi kèm:</span></span></span></p>
			<p style="text-align: justify;"><span style="color: #000000;"><span style="font-size: 16px;"><span style="font-family: arial,helvetica,sans-serif;">Đơn giá trọn gói áp dụng cho các công trình:</span></span></span></p>
			<ul>
			<li style="text-align: justify;"><span style="color: #000000;"><span style="font-size: 16px;"><span style="font-family: arial,helvetica,sans-serif;">Nhà phố tiêu chuẩn tổng diện tích &gt; 350m2.</span></span></span></li>
			<li style="text-align: justify;"><span style="color: #000000;"><span style="font-size: 16px;"><span style="font-family: arial,helvetica,sans-serif;">Công trình có 1 mặt tiền, kiến trúc hiện đại.</span></span></span></li>
			<li style="text-align: justify;"><span style="color: #000000;"><span style="font-size: 16px;"><span style="font-family: arial,helvetica,sans-serif;">Diện tích mỗi sàn &gt; 60m2 tương ứng 2 phòng ngủ, 2 WC.</span></span></span></li>
			<li style="text-align: justify;"><span style="color: #000000;"><span style="font-size: 16px;"><span style="font-family: arial,helvetica,sans-serif;">Điều kiện thi công đảm bảo xe tải 5m3 vận chuyển vật tư.</span></span></span></li>
			</ul>
			<p style="text-align: justify;"><span style="color: #000000;"><span style="font-size: 16px;"><span style="font-family: arial,helvetica,sans-serif;">Quí khách vui lòng liên hệ công ty để báo giá trực tiếp theo qui mô.</span></span></span></p>
			<h2 id="Bao_gia_thi_cong_xay_dung_nha_tron_goi_tai_TPHCM" style="text-align: justify;"><span style="color: #0000ff;"><span style="font-size: 20px;"><strong><span style="font-family: arial,helvetica,sans-serif;">Báo giá xây dựng nhà trọn gói tại TP.HCM</span></strong></span></span></h2>
			<h3 id="Goi_thong_dung" style="text-align: justify;"><strong><span style="color: #000000;"><span style="font-size: 16px;"><span style="font-family: arial,helvetica,sans-serif;">Gói thông dụng</span></span></span></strong></h3>
			<div id="attachment_1652" style="max-width: 1010px" class="wp-caption aligncenter"><img class="bao-gia-xay-dung-nha-tron-goi wp-image-1652 size-full" style="height: 200px; width: 1000px;" title="bao-gia-xay-dung-nha-tron-goi" src="https://dainam.org/wp-content/uploads/2020/03/1.png" alt="Báo giá xây dựng nhà trọn gói" width="1000" height="200"><p class="wp-caption-text">Báo giá xây dựng nhà trọn gói</p></div>
			<h3 id="Goi_vat_tu_kha" style="text-align: justify;"><strong><span style="color: #000000;"><span style="font-size: 16px;"><span style="font-family: arial,helvetica,sans-serif;">Gói vật tư khá</span></span></span></strong></h3>
			<p><img class="aligncenter wp-image-1653" style="height: 184px; width: 636px;" src="https://dainam.org/wp-content/uploads/2020/03/2.png" alt="Gói vật tư khá"></p>
			<h3 id="Goi_vat_tu_cao_cap" style="text-align: justify;"><strong><span style="color: #000000;"><span style="font-size: 16px;"><span style="font-family: arial,helvetica,sans-serif;">Gói vật tư cao cấp</span></span></span></strong></h3>
			<p><img class="aligncenter size-full wp-image-1654" style="height: 200px; width: 1000px;" src="https://dainam.org/wp-content/uploads/2020/03/3.png" alt="Gói vật tư cao cấp"><strong>CHI TIẾT BẢNG GIÁ (Giá xây nhà trọn gói tại tphcm)</strong></p>
			<div style="overflow-x: auto;">
			<table style="overflow-x: auto; border-color: #000000; width: 100%;" border="1" cellspacing="0" cellpadding="0" align="center">
			<tbody>
			<tr>
			<td style="background-color: #ff9999; height: 139px; text-align: center; width: 40px;" rowspan="2"><span style="font-size: 14px;"><span style="color: #ff0000;"><strong>STT</strong></span></span></td>
			<td style="background-color: #ff9999; text-align: center; width: 109px;" rowspan="2"><span style="font-size: 14px;"><span style="color: #ff0000;"><strong>HẠNG MỤC</strong></span></span></td>
			<td style="background-color: #ff9999; text-align: center; width: 156px;"><span style="font-size: 14px;"><span style="color: #ff0000;"><strong>&nbsp;GÓI VẬT TƯ THÔNG DỤNG</strong></span></span></td>
			<td style="background-color: #ff9999; text-align: center; width: 171px;"><span style="font-size: 14px;"><span style="color: #ff0000;"><strong>&nbsp;GÓI VẬT TƯ KHÁ</strong></span></span></td>
			<td style="background-color: #ff9999; text-align: center; width: 161px;"><span style="font-size: 14px;"><span style="color: #ff0000;"><strong>&nbsp;GÓI VẬT TƯ CAO CẤP</strong></span></span></td>
			</tr>
			<tr>
			<td style="background-color: #ff9999; height: 71px; text-align: center; width: 156px;"><span style="font-size: 14px;"><span style="color: #ff0000;"><strong>Đơn giá 4.700.000 – 4.900.000/m2&nbsp;</strong></span></span></td>
			<td style="background-color: #ff9999; text-align: center; width: 171px;"><span style="font-size: 14px;"><span style="color: #ff0000;"><strong>Đơn giá 5.100.000 – 5.300.000/m2&nbsp;</strong></span></span></td>
			<td style="background-color: #ff9999; text-align: center; width: 161px;"><span style="font-size: 14px;"><span style="color: #ff0000;"><strong>Đơn giá 5.600.000 – 5.800.000/m2&nbsp;</strong></span></span></td>
			</tr>
			<tr>
			<td style="background-color: #ff9999; text-align: center; width: 109px;"><span style="font-size: 14px;"><strong><span style="color: #ff0000;">VẬT LIỆU THÔ</span></strong></span></td>
			</tr>
			<tr>
			<td style="height: 32px; text-align: center; width: 40px;">1</td>
			<td style="text-align: center; width: 109px;">Sắt thép</td>
			<td style="text-align: center; width: 156px;">&nbsp;Việt Nhật, Pomina</td>
			<td style="text-align: center; width: 171px;">&nbsp;Việt Nhật, Pomina</td>
			<td style="text-align: center; width: 161px;">&nbsp;Việt Nhật, Pomina</td>
			</tr>
			<tr>
			<td style="height: 32px; text-align: center; width: 40px;">2</td>
			<td style="text-align: center; width: 109px;">Xi măng đổ bê tông</td>
			<td style="text-align: center; width: 156px;">&nbsp;Holcim</td>
			<td style="text-align: center; width: 171px;">&nbsp;Holcim</td>
			<td style="text-align: center; width: 161px;">&nbsp;Holcim</td>
			</tr>
			<tr>
			<td style="height: 32px; text-align: center; width: 40px;">3</td>
			<td style="text-align: center; width: 109px;">Xi măng xây tô</td>
			<td style="text-align: center; width: 156px;">&nbsp;Hà tiên</td>
			<td style="text-align: center; width: 171px;">&nbsp;Hà tiên</td>
			<td style="text-align: center; width: 161px;">&nbsp;Hà tiên</td>
			</tr>
			<tr>
			<td style="height: 32px; text-align: center; width: 40px;">4</td>
			<td style="text-align: center; width: 109px;">Cát bê tông</td>
			<td style="text-align: center; width: 156px;">&nbsp;Cát vàng hạt lớn</td>
			<td style="text-align: center; width: 171px;">&nbsp;Cát vàng hạt lớn</td>
			<td style="text-align: center; width: 161px;">&nbsp;Cát vàng hạt lớn</td>
			</tr>
			<tr>
			<td style="height: 32px; text-align: center; width: 40px;">5</td>
			<td style="text-align: center; width: 109px;">Cát xây tường</td>
			<td style="text-align: center; width: 156px;">&nbsp;Cát vàng hạt trung</td>
			<td style="text-align: center; width: 171px;">&nbsp;Cát vàng hạt trung</td>
			<td style="text-align: center; width: 161px;">&nbsp;Cát vàng hạt lớn</td>
			</tr>
			<tr>
			<td style="height: 32px; text-align: center; width: 40px;">6</td>
			<td style="text-align: center; width: 109px;">Cát tô trát tường</td>
			<td style="text-align: center; width: 156px;">&nbsp;Cát vàng hạt trung</td>
			<td style="text-align: center; width: 171px;">&nbsp;Cát vàng hạt trung</td>
			<td style="text-align: center; width: 161px;">&nbsp;Cát vàng hạt trung</td>
			</tr>
			<tr>
			<td style="height: 32px; text-align: center; width: 40px;">7</td>
			<td style="text-align: center; width: 109px;">Đá 1×2, đá 4×6</td>
			<td style="text-align: center; width: 156px;">&nbsp;Đá Bình Điền, Núi Nhỏ</td>
			<td style="text-align: center; width: 171px;">&nbsp;Đá xanh Đồng Nai, Núi Nhỏ</td>
			<td style="text-align: center; width: 161px;">&nbsp;Đá xanh Đồng Nai, Núi nhỏ</td>
			</tr>
			<tr>
			<td style="height: 96px; text-align: center; width: 40px;">8</td>
			<td style="text-align: center; width: 109px;">Gạch đinh 4x8x18</td>
			<td style="text-align: center; width: 156px;">Tuynel Đồng Tâm, Tám Quỳnh, Phước Thành, Quốc Toàn, Thành Tâm…</td>
			<td style="text-align: center; width: 171px;">Tuynel Đồng Tâm, Tám Quỳnh, Phước Thành, Quốc Toàn, Thành Tâm…</td>
			<td style="text-align: center; width: 161px;">Tuynel Đồng Tâm, Tám Quỳnh, Phước Thành, Quốc Toàn, Thành Tâm…</td>
			</tr>
			<tr>
			<td style="height: 96px; text-align: center; width: 40px;">9</td>
			<td style="text-align: center; width: 109px;">Gạch ống 8x8x18</td>
			<td style="text-align: center; width: 156px;">Tuynel Đồng Tâm, Tám Quỳnh, Phước Thành, Quốc Toàn, Thành Tâm…</td>
			<td style="text-align: center; width: 171px;">Tuynel Đồng Tâm, Tám Quỳnh, Phước Thành, Quốc Toàn, Thành Tâm…</td>
			<td style="text-align: center; width: 161px;">Tuynel Đồng Tâm, Tám Quỳnh, Phước Thành, Quốc Toàn, Thành Tâm…</td>
			</tr>
			<tr>
			<td style="height: 32px; text-align: center; width: 40px;">10</td>
			<td style="text-align: center; width: 109px;">Dây cáp điện</td>
			<td style="text-align: center; width: 156px;">&nbsp;Cáp cadivi</td>
			<td style="text-align: center; width: 171px;">&nbsp;Cáp cadivi</td>
			<td style="text-align: center; width: 161px;">&nbsp;Cáp cadivi</td>
			</tr>
			<tr>
			<td style="height: 32px; text-align: center; width: 40px;">11</td>
			<td style="text-align: center; width: 109px;">Dây cáp mạng</td>
			<td style="text-align: center; width: 156px;">&nbsp;Sino</td>
			<td style="text-align: center; width: 171px;">&nbsp;Sino</td>
			<td style="text-align: center; width: 161px;">&nbsp;Sino</td>
			</tr>
			<tr>
			<td style="height: 53px; text-align: center; width: 40px;">12</td>
			<td style="text-align: center; width: 109px;">Đế âm tường, ống luồn dây điện</td>
			<td style="text-align: center; width: 156px;">&nbsp;Sino</td>
			<td style="text-align: center; width: 171px;">&nbsp;Sino</td>
			<td style="text-align: center; width: 161px;">&nbsp;Sino</td>
			</tr>
			<tr>
			<td style="height: 64px; text-align: center; width: 40px;">13</td>
			<td style="text-align: center; width: 109px;">Ống nước cấp, nước thoát</td>
			<td style="text-align: center; width: 156px;">&nbsp;Bình Minh loại 1</td>
			<td style="text-align: center; width: 171px;">&nbsp;Bình Minh loại 1</td>
			<td style="text-align: center; width: 161px;">&nbsp;Bình Minh loại 1</td>
			</tr>
			<tr>
			<td style="height: 32px; text-align: center; width: 40px;">14</td>
			<td style="text-align: center; width: 109px;">Hóa chất chống thấm</td>
			<td style="text-align: center; width: 156px;">&nbsp;Kova CT-11A, sika latex</td>
			<td style="text-align: center; width: 171px;">Kova CT-11A, sika latex</td>
			<td style="text-align: center; width: 161px;">Kova CT-11A, sika latex</td>
			</tr>
			<tr>
			<td style="background-color: #ff9999; width: 267px;" colspan="2"><strong><span style="color: #ff0000;">VẬT LIỆU HOÀN THIỆN</span></strong></td>
			</tr>
			<tr>
			<td style="background-color: #ff9999; text-align: center; width: 109px;"><strong><span style="color: #ff0000;">GẠCH ỐP LÁT</span></strong></td>
			</tr>
			<tr>
			<td style="height: 128px; text-align: center; width: 40px;" rowspan="2">1</td>
			<td style="text-align: center; width: 109px;" rowspan="2">Gạch phòng khách, ngủ, KD</td>
			<td style="text-align: center; width: 156px;">&nbsp;Gạch men 600×600</td>
			<td style="text-align: center; width: 171px;">&nbsp;Gạch bóng kính 600×600</td>
			<td style="text-align: center; width: 161px;">&nbsp;Gạch bóng kính toàn phần</td>
			</tr>
			<tr>
			<td style="height: 64px; text-align: center; width: 156px;">(Taicera, CMC, Hoàn Mỹ,…) 140.000/m2</td>
			<td style="text-align: center; width: 171px;">(Taicera, CMC, Hoàn Mỹ,…) 185.000/m2</td>
			<td style="text-align: center; width: 161px;">(Taicera, CMC, Hoàn Mỹ,…) 250.000/m2</td>
			</tr>
			<tr>
			<td style="height: 96px; text-align: center; width: 40px;" rowspan="2">2</td>
			<td style="text-align: center; width: 109px;" rowspan="2">Gạch ban công, sân thượng, sân sau</td>
			<td style="text-align: center; width: 156px;">&nbsp;Gạch 400×400</td>
			<td style="text-align: center; width: 171px;">&nbsp;Gạch 400×400</td>
			<td style="text-align: center; width: 161px;">&nbsp;Gạch 400×400</td>
			</tr>
			<tr>
			<td style="height: 64px; text-align: center; width: 156px;">(Taicera, CMC, Hoàn Mỹ,…) 120.000/m2</td>
			<td style="text-align: center; width: 171px;">(Taicera, CMC, Hoàn Mỹ,…) 140.000/m2</td>
			<td style="text-align: center; width: 161px;">(Taicera, CMC, Hoàn Mỹ,…) 160.000/m2</td>
			</tr>
			<tr>
			<td style="height: 96px; text-align: center; width: 40px;" rowspan="2">3</td>
			<td style="text-align: center; width: 109px;" rowspan="2">Gạch nền WC</td>
			<td style="text-align: center; width: 156px;">&nbsp;Gạch 300×300</td>
			<td style="text-align: center; width: 171px;">&nbsp;Gạch 300×300</td>
			<td style="text-align: center; width: 161px;">&nbsp;Gạch 300×300</td>
			</tr>
			<tr>
			<td style="height: 64px; text-align: center; width: 156px;">(Taicera, CMC, Hoàn Mỹ,…) 120.000/m2</td>
			<td style="text-align: center; width: 171px;">(Taicera, CMC, Hoàn Mỹ,…) 160.000/m2</td>
			<td style="text-align: center; width: 161px;">(Taicera, CMC, Hoàn Mỹ,…) 180.000/m2</td>
			</tr>
			<tr>
			<td style="height: 96px; text-align: center; width: 40px;" rowspan="2">4</td>
			<td style="text-align: center; width: 109px;" rowspan="2">Gạch ốp WC</td>
			<td style="text-align: center; width: 156px;">&nbsp;Gạch 300×600</td>
			<td style="text-align: center; width: 171px;">&nbsp;Gạch 300×600</td>
			<td style="text-align: center; width: 161px;">&nbsp;Gạch 300×600</td>
			</tr>
			<tr>
			<td style="height: 64px; text-align: center; width: 156px;">(Taicera, CMC, Hoàn Mỹ,…) 130.000/m2</td>
			<td style="text-align: center; width: 171px;">(Taicera, CMC, Hoàn Mỹ,…) 150.000/m2</td>
			<td style="text-align: center; width: 161px;">(Taicera, CMC, Hoàn Mỹ,…) 180.000/m2</td>
			</tr>
			<tr>
			<td style="height: 32px; text-align: center; width: 40px;">5</td>
			<td style="text-align: center; width: 109px;">Keo chà ron</td>
			<td style="text-align: center; width: 156px;">&nbsp;Thái Lan</td>
			<td style="text-align: center; width: 171px;">&nbsp;Thái Lan</td>
			<td style="text-align: center; width: 161px;">&nbsp;Thái Lan</td>
			</tr>
			<tr>
			<td style="background-color: #ff9999; text-align: center; width: 109px;"><span style="color: #ff0000;"><strong>SƠN</strong></span></td>
			</tr>
			<tr>
			<td style="height: 32px; text-align: center; width: 40px;">1</td>
			<td style="text-align: center; width: 109px;">Bột trét ngoài (Bao)</td>
			<td style="text-align: center; width: 156px;">Jotun</td>
			<td style="text-align: center; width: 171px;">Jotun</td>
			<td style="text-align: center; width: 161px;">Jotun</td>
			</tr>
			<tr>
			<td style="height: 32px; text-align: center; width: 40px;">2</td>
			<td style="text-align: center; width: 109px;">Bột trét trong (Bao)</td>
			<td style="text-align: center; width: 156px;">Việt Mỹ</td>
			<td style="text-align: center; width: 171px;">Jotun</td>
			<td style="text-align: center; width: 161px;">Jotun</td>
			</tr>
			<tr>
			<td style="height: 32px; text-align: center; width: 40px;">3</td>
			<td style="text-align: center; width: 109px;">sơn lót (Lít)</td>
			<td style="text-align: center; width: 156px;">Jotun</td>
			<td style="text-align: center; width: 171px;">Jotun</td>
			<td style="text-align: center; width: 161px;">Jotun</td>
			</tr>
			<tr>
			<td style="height: 32px; text-align: center; width: 40px;">4</td>
			<td style="text-align: center; width: 109px;">sơn phủ ngoài (Lít)</td>
			<td style="text-align: center; width: 156px;">Jotun dễ lau chùi</td>
			<td style="text-align: center; width: 171px;">Jotun Jotashield</td>
			<td style="text-align: center; width: 161px;">Jotun Jotashield</td>
			</tr>
			<tr>
			<td style="height: 32px; text-align: center; width: 40px;">5</td>
			<td style="text-align: center; width: 109px;">sơn phủ trong (Lít)</td>
			<td style="text-align: center; width: 156px;">Maxilite</td>
			<td style="text-align: center; width: 171px;">Jotun dễ lau chùi</td>
			<td style="text-align: center; width: 161px;">Jotun Majetic</td>
			</tr>
			<tr>
			<td style="background-color: #ff9999; text-align: center; width: 109px;"><span style="color: #ff0000;"><strong>CỬA</strong></span></td>
			</tr>
			<tr>
			<td style="height: 64px; text-align: center; width: 40px;">1</td>
			<td style="text-align: center; width: 109px;">Cửa phòng ngủ, thông phòng, ngăn p thờ</td>
			<td style="text-align: center; width: 156px;">&nbsp;Cửa gỗ HDF 2.800.000/bộ</td>
			<td style="text-align: center; width: 171px;">&nbsp;Cửa nhựa lõi thép hoặc nhôm xingfa 1.850.000/m2</td>
			<td style="text-align: center; width: 161px;">&nbsp;Gỗ căm xe 4.500.000/m2</td>
			</tr>
			<tr>
			<td style="height: 64px; text-align: center; width: 40px;">2</td>
			<td style="text-align: center; width: 109px;">Cửa WC</td>
			<td style="text-align: center; width: 156px;">&nbsp;Cửa nhựa Nam Huy, nhựa Đài Loan 2.800.000/bộ</td>
			<td style="text-align: center; width: 171px;">&nbsp;Cửa nhựa lõi thép hoặc nhôm xingfa 1.850.000/m2</td>
			<td style="text-align: center; width: 161px;">&nbsp;Gỗ căm xe 4.500.000/m2</td>
			</tr>
			<tr>
			<td style="height: 64px; text-align: center; width: 40px;">3</td>
			<td style="text-align: center; width: 109px;">Cửa ban công trước</td>
			<td style="text-align: center; width: 156px;">&nbsp;Sắt hộp 30x60x1.2mm mạ kẽm,&nbsp; sơn dầu, 1.300.000/m2</td>
			<td style="text-align: center; width: 171px;">&nbsp;Cửa nhựa lõi thép hoặc nhôm xingfa 1.850.000/m2</td>
			<td style="text-align: center; width: 161px;">&nbsp;Cửa nhựa lõi thép hoặc nhôm xingfa 2.000.000/m2</td>
			</tr>
			<tr>
			<td style="height: 64px; text-align: center; width: 40px;">4</td>
			<td style="text-align: center; width: 109px;">Cửa sân thượng trước sau</td>
			<td style="text-align: center; width: 156px;">&nbsp;Sắt hộp 30x60x1.2mm mạ kẽm, sơn dầu, 1.300.000/m2</td>
			<td style="text-align: center; width: 171px;">&nbsp;Sắt hộp 30x60x1.2mm mạ kẽm, sơn dầu, 1.300.000/m2</td>
			<td style="text-align: center; width: 161px;">&nbsp;Cửa nhựa lõi thép hoặc nhôm xingfa 2.000.000/m2</td>
			</tr>
			<tr>
			<td style="height: 64px; text-align: center; width: 40px;">5</td>
			<td style="text-align: center; width: 109px;">Cửa chính tầng trệt</td>
			<td style="text-align: center; width: 156px;">&nbsp;Sắt hộp 30x60x1.2mm mạ kẽm, sơn dầu, 1.300.000/m2</td>
			<td style="text-align: center; width: 171px;">&nbsp;Cửa nhựa lõi thép hoặc nhôm xingfa 1.850.000/m2</td>
			<td style="text-align: center; width: 161px;">&nbsp;Gỗ căm xe 4.500.000/m2</td>
			</tr>
			<tr>
			<td style="height: 128px; text-align: center; width: 40px;">6</td>
			<td style="text-align: center; width: 109px;">Cửa sổ</td>
			<td style="text-align: center; width: 156px;">&nbsp;Sắt hộp 30x60x1.2mm mạ kẽm, sơn dầu, 1.300.000/m2 hoặc cửa nhôm kính sơn tĩnh điện, 1.200.000/m2</td>
			<td style="text-align: center; width: 171px;">&nbsp;Cửa nhựa lõi thép hoặc nhôm xingfa 1.700.000/m2</td>
			<td style="text-align: center; width: 161px;">&nbsp;Cửa nhựa lõi thép hoặc nhôm xingfa 2.000.000/m2</td>
			</tr>
			<tr>
			<td style="height: 64px; text-align: center; width: 40px;">7</td>
			<td style="text-align: center; width: 109px;">Bông bảo vệ cửa sổ</td>
			<td style="text-align: center; width: 156px;">&nbsp;Sắt hộp 14x14x1.0mm mạ kẽm, sơn dầu, 400.000/m2</td>
			<td style="text-align: center; width: 171px;">&nbsp;Sắt hộp 14x14x1.0mm mạ kẽm, sơn dầu, 400.000/m2</td>
			<td style="text-align: center; width: 161px;">&nbsp;Sắt hộp 14x14x1.0mm mạ kẽm, sơn dầu, 400.000/m2</td>
			</tr>
			<tr>
			<td style="height: 64px; text-align: center; width: 40px;">8</td>
			<td style="text-align: center; width: 109px;">Khung sắt mái lấy sáng</td>
			<td style="text-align: center; width: 156px;">&nbsp;Sắt hộp 20x20x1.0mm mạ kẽm, sơn dầu, 400.000/m2</td>
			<td style="text-align: center; width: 171px;">&nbsp;Sắt hộp 30x30x1.0mm mạ kẽm, sơn dầu, 550.000/m2</td>
			<td style="text-align: center; width: 161px;">&nbsp;Sắt hộp 30x30x1.0mm mạ kẽm, sơn dầu, 550.000/m2</td>
			</tr>
			<tr>
			<td style="height: 32px; text-align: center; width: 40px;">9</td>
			<td style="text-align: center; width: 109px;">Tấm lấy sáng</td>
			<td style="text-align: center; width: 156px;">&nbsp;Tấm Polycarbonat lấy sáng</td>
			<td style="text-align: center; width: 171px;">&nbsp;Kính cường lực 8mm</td>
			<td style="text-align: center; width: 161px;">&nbsp;Kính cường lực 8mm</td>
			</tr>
			<tr>
			<td style="background-color: #ff9999; text-align: center; width: 109px;"><span style="color: #ff0000;"><strong>CẦU THANG</strong></span></td>
			</tr>
			<tr>
			<td style="height: 64px; text-align: center; width: 40px;">1</td>
			<td style="text-align: center; width: 109px;">Lan can cầu thang (m)</td>
			<td style="text-align: center; width: 156px;">&nbsp;Sắt hộp 14x14x1.0mm mạ kẽm, sơn dầu, 550.000/md</td>
			<td style="text-align: center; width: 171px;">Kính cường lực 10mm, 800.000/md</td>
			<td style="text-align: center; width: 161px;">Kính cường lực 10mm, 800.000/md</td>
			</tr>
			<tr>
			<td style="height: 96px; text-align: center; width: 40px;">2</td>
			<td style="text-align: center; width: 109px;">Tay vịn cầu thang (m)</td>
			<td style="text-align: center; width: 156px;">&nbsp;Gỗ căm xe tròn đường kính 60, hoặc vuông 60mm 450.000/md</td>
			<td style="text-align: center; width: 171px;">&nbsp;Gỗ căm xe tròn đường kính 60, hoặc vuông 60mm 450.000/md</td>
			<td style="text-align: center; width: 161px;">&nbsp;Gỗ căm xe tròn đường kính 60, hoặc vuông 60mm 450.000/md</td>
			</tr>
			<tr>
			<td style="height: 96px; text-align: center; width: 40px;">3</td>
			<td style="text-align: center; width: 109px;">Đá cầu thang (m2)</td>
			<td style="text-align: center; width: 156px;">&nbsp;Đá trắng Suối lau 450.000/m2</td>
			<td style="text-align: center; width: 171px;">Đá đen Camphuchia, đen Indonexia, đá trắng nhân tạo 800.000/m2</td>
			<td style="text-align: center; width: 161px;">&nbsp;Đá kim sa trung 1.000.000/m2</td>
			</tr>
			<tr>
			<td style="height: 96px; text-align: center; width: 40px;">4</td>
			<td style="text-align: center; width: 109px;">Len cầu thang (md)</td>
			<td style="text-align: center; width: 156px;">&nbsp;Đá trắng Suối lau 100.000/md</td>
			<td style="text-align: center; width: 171px;">Đá đen Camphuchia, đen Indonexia, đá trắng nhân tạo 120.000/md</td>
			<td style="text-align: center; width: 161px;">&nbsp;Đá kim sa trung 150.000/md</td>
			</tr>
			<tr>
			<td style="height: 96px; text-align: center; width: 40px;">5</td>
			<td style="text-align: center; width: 109px;">Đá ngạch cửa (m)</td>
			<td style="text-align: center; width: 156px;">&nbsp;Đá trắng Suối lau 100.000/md</td>
			<td style="text-align: center; width: 171px;">&nbsp;Đá đen Camphuchia, đen Indonexia, đá trắng nhân tạo 120.000/md</td>
			<td style="text-align: center; width: 161px;">&nbsp;Đá kim sa trung 150.000/md</td>
			</tr>
			<tr>
			<td style="height: 96px; text-align: center; width: 40px;">6</td>
			<td style="text-align: center; width: 109px;">Đá mặt tiền trệt (m2)</td>
			<td style="text-align: center; width: 156px;">&nbsp;Đá trắng Suối lau 600.000/m2</td>
			<td style="text-align: center; width: 171px;">Đá đen Camphuchia, đen Indonexia, đá trắng nhân tạo 950.000/m2</td>
			<td style="text-align: center; width: 161px;">&nbsp;Đá kim sa trung 1.150.000/m2</td>
			</tr>
			<tr>
			<td style="height: 96px; text-align: center; width: 40px;">7</td>
			<td style="text-align: center; width: 109px;">Đá bếp (m2)</td>
			<td style="text-align: center; width: 156px;">&nbsp;Đá trắng Suối lau 450.000/md</td>
			<td style="text-align: center; width: 171px;">Đá đen Camphuchia, đen Indonexia, đá trắng nhân tạo 800.000/md</td>
			<td style="text-align: center; width: 161px;">&nbsp;Đá kim sa trung 1.000.000/m2d</td>
			</tr>
			<tr>
			<td style="background-color: #ff9999; width: 109px; text-align: center;"><span style="color: #ff0000;"><strong>BAN CÔNG</strong></span></td>
			</tr>
			<tr>
			<td style="height: 64px; text-align: center; width: 40px;">1</td>
			<td style="text-align: center; width: 109px;">Lan can ban công (m)</td>
			<td style="text-align: center; width: 156px;">&nbsp;Sắt hộp 14x14x1.0mm mạ kẽm, sơn dầu, 550.000/md</td>
			<td style="text-align: center; width: 171px;">Kính cường lực 10mm, 800.000/md</td>
			<td style="text-align: center; width: 161px;">Kính cường lực 10mm, 800.000/md</td>
			</tr>
			<tr>
			<td style="height: 64px; text-align: center; width: 40px;">2</td>
			<td style="text-align: center; width: 109px;">Tay vịn ban công (m)</td>
			<td style="text-align: center; width: 156px;">Sắt hộp 40x80x1.2mm 200.000/md</td>
			<td style="text-align: center; width: 171px;">&nbsp;Inox 40x80x1.2mm 250.000/md</td>
			<td style="text-align: center; width: 161px;">&nbsp;Inox 40x80x1.2mm 250.000/md</td>
			</tr>
			<tr>
			<td style="background-color: #ff9999; text-align: center; width: 109px;"><span style="color: #ff0000;"><strong>THẠCH CAO</strong></span></td>
			</tr>
			<tr>
			<td style="height: 96px; text-align: center; width: 40px;">1</td>
			<td style="text-align: center; width: 109px;">Trệt, lầu 1,2,3..</td>
			<td style="text-align: center; width: 156px;">Toàn Châu 110.000/m2</td>
			<td style="text-align: center; width: 171px;">Khung M29 Vĩnh Tường, Tấm Gyproc 125.000/m2</td>
			<td style="text-align: center; width: 161px;">Khung M29 Vĩnh Tường, Tấm Gyproc 125.000/m2</td>
			</tr>
			<tr>
			<td style="background-color: #ff9999; text-align: center; width: 109px;"><span style="color: #ff0000;"><strong>THIẾT BỊ NƯỚC</strong></span></td>
			</tr>
			<tr>
			<td style="height: 64px; text-align: center; width: 40px;">1</td>
			<td style="text-align: center; width: 109px;">Bàn cầu</td>
			<td style="text-align: center; width: 156px;">&nbsp;Viglacera, Thanh Bình 1.850.000/bộ</td>
			<td style="text-align: center; width: 171px;">&nbsp;Viglacera, Ceravi 2.500.000/bộ</td>
			<td style="text-align: center; width: 161px;">Inax, American standar, Toto,… 5.000.000/cái</td>
			</tr>
			<tr>
			<td style="height: 64px; text-align: center; width: 40px;">2</td>
			<td style="text-align: center; width: 109px;">Lavabo + bộ xã</td>
			<td style="text-align: center; width: 156px;">&nbsp;Viglacera, Thanh Bình 800.000/bộ</td>
			<td style="text-align: center; width: 171px;">&nbsp;Viglacera, Ceravi 900.000/bộ</td>
			<td style="text-align: center; width: 161px;">Inax, American standar, Toto,… 1.800.000/cái</td>
			</tr>
			<tr>
			<td style="height: 64px; text-align: center; width: 40px;">3</td>
			<td style="text-align: center; width: 109px;">Vòi xã lavabo</td>
			<td style="text-align: center; width: 156px;">&nbsp;Canery 350.000/bộ</td>
			<td style="text-align: center; width: 171px;">&nbsp;Canery,corido, luxta&nbsp; 450.000/bộ</td>
			<td style="text-align: center; width: 161px;">Vòi nóng lạnh (Viglacera, Caesar, Inax…) 950.000/cái</td>
			</tr>
			<tr>
			<td style="height: 64px; text-align: center; width: 40px;">4</td>
			<td style="text-align: center; width: 109px;">Sen tắm</td>
			<td style="text-align: center; width: 156px;">&nbsp;Canery 800.000/bộ</td>
			<td style="text-align: center; width: 171px;">&nbsp;Canery,corido, luxta&nbsp; 2.000.000/bộ</td>
			<td style="text-align: center; width: 161px;">(Corido, Luxta, Inax…) 3.000.000/cái</td>
			</tr>
			<tr>
			<td style="height: 32px; text-align: center; width: 40px;">5</td>
			<td style="text-align: center; width: 109px;">Vòi xịt</td>
			<td style="text-align: center; width: 156px;">&nbsp;Canery&nbsp; 150.000/bộ</td>
			<td style="text-align: center; width: 171px;">&nbsp;Viglacera,Oscar&nbsp; 250.000/bộ</td>
			<td style="text-align: center; width: 161px;">&nbsp;600.000/cái</td>
			</tr>
			<tr>
			<td style="height: 32px; text-align: center; width: 40px;">6</td>
			<td style="text-align: center; width: 109px;">Vòi xã ban công</td>
			<td style="text-align: center; width: 156px;">Canery 100.000/bộ</td>
			<td style="text-align: center; width: 171px;">&nbsp;Viglacera,Oscar&nbsp; 100.000/bộ</td>
			<td style="text-align: center; width: 161px;">&nbsp;150.000/cái</td>
			</tr>
			<tr>
			<td style="height: 64px; text-align: center; width: 40px;">7</td>
			<td style="text-align: center; width: 109px;">Phụ kiện WC</td>
			<td style="text-align: center; width: 156px;">&nbsp;Canery 800.000/bộ</td>
			<td style="text-align: center; width: 171px;">&nbsp;Inox 304 900.000/bộ</td>
			<td style="text-align: center; width: 161px;">Inox 304 1.600.000/bộ</td>
			</tr>
			<tr>
			<td style="height: 32px; text-align: center; width: 40px;">8</td>
			<td style="text-align: center; width: 109px;">Phểu thu sàn</td>
			<td style="text-align: center; width: 156px;">&nbsp;Oscar 80.000/cái</td>
			<td style="text-align: center; width: 171px;">&nbsp;Oscar 110.000/cái</td>
			<td style="text-align: center; width: 161px;">&nbsp;150.000/cái</td>
			</tr>
			<tr>
			<td style="height: 32px; text-align: center; width: 40px;">9</td>
			<td style="text-align: center; width: 109px;">Chậu rửa chén</td>
			<td style="text-align: center; width: 156px;">&nbsp;Oscar 1.300.000/bộ</td>
			<td style="text-align: center; width: 171px;">&nbsp;Oscar 1.500.000/bộ</td>
			<td style="text-align: center; width: 161px;">&nbsp;2.000.000/cái</td>
			</tr>
			<tr>
			<td style="height: 32px; text-align: center; width: 40px;">10</td>
			<td style="text-align: center; width: 109px;">Vòi rửa chén</td>
			<td style="text-align: center; width: 156px;">&nbsp;Oscar 550.000/cái</td>
			<td style="text-align: center; width: 171px;">&nbsp;Oscar 650.000/cái</td>
			<td style="text-align: center; width: 161px;">&nbsp;1.000.000/cái</td>
			</tr>
			<tr>
			<td style="height: 64px; text-align: center; width: 40px;">11</td>
			<td style="text-align: center; width: 109px;">Bồn nước Inox</td>
			<td style="text-align: center; width: 156px;">&nbsp;Đại Thành – Dung tích 1000 lít 3.000.000</td>
			<td style="text-align: center; width: 171px;">&nbsp;Đại Thành – Dung tích 1000 lít 3.000.000</td>
			<td style="text-align: center; width: 161px;">&nbsp;Đại Thành – Dung tích 1000 lít 3.000.000</td>
			</tr>
			<tr>
			<td style="height: 64px; text-align: center; width: 40px;">12</td>
			<td style="text-align: center; width: 109px;">Hệ thống ống nước nóng</td>
			<td style="text-align: center; width: 156px;">&nbsp;Bình Minh / Vestbo</td>
			<td style="text-align: center; width: 171px;">&nbsp;Bình Minh / Vestbo</td>
			<td style="text-align: center; width: 161px;">&nbsp;Bình Minh / Vestbo</td>
			</tr>
			<tr>
			<td style="background-color: #ff9999; text-align: center; width: 109px;"><span style="color: #ff0000;"><strong>THIẾT BỊ ĐIỆN</strong></span></td>
			</tr>
			<tr>
			<td style="height: 32px; text-align: center; width: 40px;">1</td>
			<td style="text-align: center; width: 109px;">Tủ điện</td>
			<td style="text-align: center; width: 156px;">&nbsp;Sino</td>
			<td style="text-align: center; width: 171px;">&nbsp;Sino</td>
			<td style="text-align: center; width: 161px;">&nbsp;Sino</td>
			</tr>
			<tr>
			<td style="height: 32px; text-align: center; width: 40px;">2</td>
			<td style="text-align: center; width: 109px;">Công tắc, ổ cắm</td>
			<td style="text-align: center; width: 156px;">&nbsp;Sino</td>
			<td style="text-align: center; width: 171px;">&nbsp;Panasonic</td>
			<td style="text-align: center; width: 161px;">&nbsp;Panasonic</td>
			</tr>
			<tr>
			<td style="height: 32px; text-align: center; width: 40px;">3</td>
			<td style="text-align: center; width: 109px;">CB tép, CB máy lạnh</td>
			<td style="text-align: center; width: 156px;">&nbsp;Sino</td>
			<td style="text-align: center; width: 171px;">&nbsp;Panasonic</td>
			<td style="text-align: center; width: 161px;">&nbsp;Panasonic</td>
			</tr>
			<tr>
			<td style="height: 96px; text-align: center; width: 40px;">4</td>
			<td style="text-align: center; width: 109px;">Ổ cắm điện thoại, internet, truyền hình cáp</td>
			<td style="text-align: center; width: 156px;">&nbsp;Sino</td>
			<td style="text-align: center; width: 171px;">&nbsp;Panasonic</td>
			<td style="text-align: center; width: 161px;">&nbsp;Panasonic</td>
			</tr>
			<tr>
			<td style="height: 64px; text-align: center; width: 40px;">5</td>
			<td style="text-align: center; width: 109px;">Đèn phòng khách</td>
			<td style="text-align: center; width: 156px;">Đèn Led âm trần Duhal, 9w 70.000/bộ</td>
			<td style="text-align: center; width: 171px;">Đèn Led âm trần Duhal, 9w 70.000/bộ</td>
			<td style="text-align: center; width: 161px;">Đèn Led âm trần MPE, 9w 90.000/bộ</td>
			</tr>
			<tr>
			<td style="height: 64px; text-align: center; width: 40px;">6</td>
			<td style="text-align: center; width: 109px;">Đèn phòng bếp, ăn</td>
			<td style="text-align: center; width: 156px;">Đèn Led âm trần, 9w 70.000/bộ</td>
			<td style="text-align: center; width: 171px;">Đèn Led âm trần, 9w 70.000/bộ</td>
			<td style="text-align: center; width: 161px;">Đèn Led âm trần, 9w 90.000/bộ</td>
			</tr>
			<tr>
			<td style="height: 64px; text-align: center; width: 40px;">7</td>
			<td style="text-align: center; width: 109px;">Đèn phòng ngủ</td>
			<td style="text-align: center; width: 156px;">Đèn Led âm trần, 9w 70.000/bộ</td>
			<td style="text-align: center; width: 171px;">Đèn Led âm trần, 9w 70.000/bộ</td>
			<td style="text-align: center; width: 161px;">Đèn Led âm trần, 9w 90.000/bộ</td>
			</tr>
			<tr>
			<td style="height: 64px; text-align: center; width: 40px;">8</td>
			<td style="text-align: center; width: 109px;">Đèn hành lang trong nhà</td>
			<td style="text-align: center; width: 156px;">Đèn Led âm trần, 9w 70.000/bộ</td>
			<td style="text-align: center; width: 171px;">Đèn Led âm trần, 9w 70.000/bộ</td>
			<td style="text-align: center; width: 161px;">Đèn Led âm trần, 9w 90.000/bộ</td>
			</tr>
			<tr>
			<td style="height: 96px; text-align: center; width: 40px;">9</td>
			<td style="text-align: center; width: 109px;">Đèn ban công, sân thượng, sân sau.</td>
			<td style="text-align: center; width: 156px;">&nbsp;Đèn ốp trần 1 bộ (140.000/bộ) hoặc đèn HQ Philips 1.2m</td>
			<td style="text-align: center; width: 171px;">&nbsp;Đèn ốp trần 1 bộ (140.000/bộ) hoặc đèn HQ Philips 1.2m</td>
			<td style="text-align: center; width: 161px;">&nbsp;Đèn ốp trần 1 bộ (170.000/bộ) hoặc đèn HQ Philips 1.2m</td>
			</tr>
			<tr>
			<td style="height: 64px; text-align: center; width: 40px;">10</td>
			<td style="text-align: center; width: 109px;">Đèn cổng</td>
			<td style="text-align: center; width: 156px;">&nbsp;Đèn ốp trần (1 bộ) 140.000/bộ</td>
			<td style="text-align: center; width: 171px;">&nbsp;Đèn ốp trần (1 bộ) 140.000/bộ</td>
			<td style="text-align: center; width: 161px;">&nbsp;Đèn ốp trần (1 bộ) 170.000/bộ</td>
			</tr>
			<tr>
			<td style="height: 64px; text-align: center; width: 40px;">11</td>
			<td style="text-align: center; width: 109px;">Đèn vệ sinh</td>
			<td style="text-align: center; width: 156px;">&nbsp;Đèn ốp trần (1 bộ) 140.000/bộ</td>
			<td style="text-align: center; width: 171px;">&nbsp;Đèn ốp trần (1 bộ) 140.000/bộ</td>
			<td style="text-align: center; width: 161px;">&nbsp;Đèn ốp trần (1 bộ) 170.000/bộ</td>
			</tr>
			</tbody>
			</table>
			</div>
			</div>

	</div>
</body>
</html>