<section class="menu-wrap flex-md-column-reverse d-md-flex">
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active"><a href="./" class="nav-link">Trang chủ</a></li>
                    <li class="nav-item"><a href="about.html" class="nav-link">Về chúng tôi</a></li>
                    <li class="nav-item"><a href="services.html" class="nav-link">Dịch vụ</a></li>
                    <li class="nav-item"><a href="project.html" class="nav-link">Các dự án</a></li>
                    <li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li>
                    <li class="nav-item"><a href="contact.html" class="nav-link">Liên hệ</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->
    <div class="hero-wrap js-fullheight">
        <div class="home-slider js-fullheight owl-carousel">
            <div class="slider-item js-fullheight" style="background-image:url(images/bg_1.jpg);">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
                        <div class="col-md-10 text-center ftco-animate">
                            <div class="text w-100">
                                <h2>Chúng tôi là công ty xây nhà trọn gói tốt nhất</h2>
                                <h1 class="mb-4">Dedicated to providing the highest quality roofing services</h1>
                                <p><a href="#" class="btn btn-primary">Book an appointment</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slider-item js-fullheight" style="background-image:url(images/bg_2.jpg);">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
                        <div class="col-md-8 text-center ftco-animate">
                            <div class="text w-100">
                                <h2>We care about your home chung toi</h2>
                                <h1 class="mb-4">Quality roofing at a affordable price</h1>
                                <p><a href="#" class="btn btn-primary">Book an appointment</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>